.box
{
background-color: #fff;
position: relative;
height:330px;
width:295px;
border: 1px solid #dfe1e5;
border-radius: 8px;
box-shadow: none;
top:80px;
left:40%;
} 
.fas
{
    color:red;
    font-size:15px;
}
.display
{
    
    height: 72px;
    border: 2px solid #7e7a7a;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 14px 0px 10px;
    box-sizing: border-box;
}
.button.gray
{
    background: #f1f3f4;
    color: #202124;
    border: 1px solid #f1f3f4;
    border-radius: 4px;
}
.icon{
    float:left;
    margin-left: -5px;
    position: relative;
   
}
.qv3Wpe {
    -webkit-user-select: text;
    float: right;
    font-family: arial,sans-serif;
    white-space: nowrap;
    border:none;
    width:240px;
    position:relative;
    top:2px;
    height:25px;
    color:black;
    background-color: #fff;
    font-size:21px;
    text-align:right;
}
.vUGUtc {
    width: 100%;
    text-align: right;
    font-family: arial,sans-serif;
    float: right;
    white-space: nowrap;
    margin-top: -2px;
    font-size:15px;
}

.xwgN1d {
    width: fit-content;
    position: relative;
    margin-left: 40px;
}
.XH1CIc {
    width: 100%;
    height: 20px;
    color: #70757A;
    display: table;
    font-size: 13px;
    position: relative;
    table-layout: fixed;
    float: left;
}
.XSNERd {
    overflow: hidden;
}
.z7BZJb {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.keys
{
    position:relative;
    top:10px;
    display: inline-block;
    margin-left: 5px;
}
.button
{
    width: 61px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    border-top:2px solid transparent;
}
input:focus{
    outline: none;
}